# Mã khách hàng EVNSPC
CUSTOMER_CODE=PK11000109647

# Telegram Bot Configuration  
TELEGRAM_BOT_TOKEN=8329939873:AAGWcS-XCW6PM1-l6tzKK8_F7LX7HPiJjAg
TELEGRAM_CHAT_ID=@cupdienPK11000109647bot

# Lịch check tự động (cron format) - Mặc định: 7:00 sáng mỗi ngày
CHECK_INTERVAL_CRON=0 7 * * *

# Số ngày phía trước cần kiểm tra
DAYS_AHEAD=7
